/* Document
 * ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}
/* Sections
 * ========================================================================== */
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Edge, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/* Grouping content
 * ========================================================================== */
/**
 * Remove the margin on nested lists in Chrome, Edge, IE, and Safari.
 */
dl dl,
dl ol,
dl ul,
ol dl,
ul dl {
  margin: 0;
}
/**
 * Remove the margin on nested lists in Edge 18- and IE.
 */
ol ol,
ol ul,
ul ol,
ul ul {
  margin: 0;
}
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge 18- and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}
/**
 * Add the correct display in IE.
 */
main {
  display: block;
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}
/* Text-level semantics
 * ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}
/**
 * Add the correct text decoration in Edge 18-, IE, and Safari.
 */
abbr[title] {
  text-decoration: underline;
  text-decoration: underline dotted;
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}
/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}
/* Embedded content
 * ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}
/**
 * Remove the border on images within links in IE 10-.
 */
img {
  border-style: none;
}
/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}
/* Forms
 * ========================================================================== */
/**
 * Remove the margin on controls in Safari.
 */
button,
input,
select {
  margin: 0;
}
/**
 * 1. Show the overflow in IE.
 * 2. Remove the inheritance of text transform in Edge 18-, Firefox, and IE.
 */
button {
  overflow: visible; /* 1 */
  text-transform: none; /* 2 */
}
/**
 * Correct the inability to style buttons in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
/**
 * Show the overflow in Edge 18- and IE.
 */
input {
  overflow: visible;
}
/**
 * 1. Correct the text wrapping in Edge 18- and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  white-space: normal; /* 1 */
}
/**
 * 1. Add the correct display in Edge 18- and IE.
 * 2. Add the correct vertical alignment in Chrome, Edge, and Firefox.
 */
progress {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}
/**
 * Remove the inheritance of text transform in Firefox.
 */
select {
  text-transform: none;
}
/**
 * 1. Remove the margin in Firefox and Safari.
 * 2. Remove the default vertical scrollbar in IE.
 */
textarea {
  margin: 0; /* 1 */
  overflow: auto; /* 2 */
}
/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}
/**
 * 1. Correct the odd appearance in Chrome, Edge, and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Safari.
 */
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}
/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
/**
 * Remove the inner padding in Chrome, Edge, and Safari on macOS.
 */
::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * 1. Correct the inability to style upload buttons in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}
/**
 * Remove the inner border and padding of focus outlines in Firefox.
 */
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
 * Restore the focus outline styles unset by the previous rule in Firefox.
 */
:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
 * Remove the additional :invalid styles in Firefox.
 */
:-moz-ui-invalid {
  box-shadow: none;
}
/* Interactive
 * ========================================================================== */
/*
 * Add the correct display in Edge 18- and IE.
 */
details {
  display: block;
}
/*
 * Add the correct styles in Edge 18-, IE, and Safari.
 */
dialog {
  background-color: white;
  border: solid;
  color: black;
  display: block;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
}
dialog:not([open]) {
  display: none;
}
/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}
/* Scripting
 * ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}
/**
 * Add the correct display in IE.
 */
template {
  display: none;
}
/* User interaction
 * ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}
/* base */
:root {
    height: 100%;
    font-weight: 400;
    font-size: 62.5%;
    line-height: 1.2;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/*@custom-media --S   (width < px);
@custom-media --M   (width < px);
@custom-media --L   (width < px);*/
/* @start color */
/*change to value from layout*/
:root {
    --font-color-main: #16472a;
    --main-color-1: #de977d;
    --main-color-2: #ba7844;
    --main-color-3: #536c4c;
    --main-color-4: #eb9b94;
    --main-color-5: #a44a30;
    --main-color-6: #c9983c;
}
/* @end color */
/*@media (--L) {}*/
/*@media (--M) {}*/
/*@media (--S) {}*/
* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.img {
    display: block;
    max-width: 100%;
}
.box {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 40px;
}
.styleguide {
    overflow: hidden;
    padding: 40px 0;
    background: #f8f8f8;
}
.styleguide-content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
.styleguide-content__main {
            width: calc(100% - 320px);
            padding: 0 40px 40px;
            background: #fff;
            -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, .1);
                    box-shadow: 0 2px 2px rgba(0, 0, 0, .1);
        }
.styleguide-content__sidebar {
            -ms-flex-negative: 0;
                flex-shrink: 0;
            width: 300px;
            margin-left: 20px;
        }
.styleguide-content__sidebar .sidebar {
                overflow: hidden;
                height: 1400px;
                padding: 0 20px 20px;
                background: #fff;
                border-radius: 5px;
                -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, .1);
                        box-shadow: 0 2px 2px rgba(0, 0, 0, .1);
            }
.styleguide-colors {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
.styleguide-colors__item {
            position: relative;
            width: 120px;
            height: 60px;
            margin: 5px 5px 20px;
            border: 1px solid #d4d4d4;
            border-radius: 3px;
        }
.styleguide-colors__item:after {
                content: attr(data-name);
                top: calc(100% + 4px);
                right: 2px;
                left: 2px;
                position: absolute;
                font-size: 12px;
            }
.styleguide-colors__item[data-name="black"] {
                background-color: var(--brand-color-black);
            }
.styleguide-colors__item[data-name="grey"] {
                background-color: var(--brand-color-grey);
            }
.styleguide-colors__item[data-name="white"] {
                background-color: var(--brand-color-white);
            }
.styleguide .spinner {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        width: 40px;
        height: 40px;
        margin-right: 50px;
    }
.styleguide .float-left {
        float: left;
    }
/* elements */
.link {
    cursor: pointer;
    color: currentColor;
    text-decoration: none;
    -webkit-transition: .1s ease-in-out;
    -o-transition: .1s ease-in-out;
    transition: .1s ease-in-out;
    -webkit-transition-property: prop;
    -o-transition-property: prop;
    transition-property: prop;
}
.link_main {
        text-decoration: underline;
    }
.link_main:hover {
            text-decoration: none;
        }
.link_icon {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        text-decoration: underline;
    }
.link_icon .icon {
            margin-right: 4px;
            font-size: .7em;
        }
.link_icon:hover {
            text-decoration: none;
        }
.icon {
    display: block;
    width: 1em;
    height: 1em;
    fill: currentColor;
}
.icon-caret-down {
        width: 1.8em;
    }
.icon-check {
        width: 1.3em;
    }
.icon-arrow-right {
        width: 1.375em;
    }
.icon-fb {
        width: 0.625em;
    }
.icon-im {
        width: 0.875em;
    }
.icon-ok {
        width: 1.6em;
    }
.icon-tg {
        width: 0.875em;
    }
.icon-vk {
        width: 1.125em;
    }
.icon-wa {
        width: 0.875em;
    }
.icon-yb {
        width: 1.125em;
    }
/* blocks */
.header {
}
.footer {
}
.page {
    height: 100%;
    margin: 0;
    padding: 80px 0;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    color: #16472a;
    color: var(--font-color-main);
    background: #de977d;
    background: var(--main-color-1);
}
.page h1 {
        margin: 0;
        font-family: 'Permanent Marker', cursive;
        font-weight: 400;
        font-size: 40px;
    }
.page p {
        margin: 10px 0;
        font-size: 20px;
    }













